#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q    &kp A    &kp Z      &kp N1          &kp P    &kp BSPC  &kp ENTER
    &kp W    &kp S    &kp X      &kp N2          &kp O    &kp L     &kp DOT
    &kp E    &kp D    &kp C      &bootloader     &kp I    &kp K     &kp COMMA
    &kp R    &kp F    &kp V      &kp N3          &kp U    &kp J     &kp M
    &kp T    &kp G    &kp B      &kp N4          &kp Y    &kp H     &kp N
            >;
        };
    };
};
